
.panels-container{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.delete-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media (max-width: 480px) {
    .panels-container {
        padding-left: 0%;
        padding-right: 0%;   
    }
}

.mat-expansion-panel-header{
    font-family: 'Zen Dots', cursive;

}