

    <mat-tab-group mat-stretch-tabs >
        <mat-tab *ngFor="let character of trackingCharacters1">
            <ng-template mat-tab-label>
                {{character.name}}
            </ng-template>  
                <app-tracker [totalHealth]="character.totalHP" [totalHeadHP]="character.headHP" [totalBodyHP]="character.bodyHP" [totalRArm]="character.rarmHP" [totalLArm]="character.larmHP" [totalRLeg]="character.rlegHP" [totalLLeg]="character.llegHP" [stamina]="character.stamina" [ms]="character.movementSpeed"></app-tracker>   
        </mat-tab>
    </mat-tab-group>


