.inlineStat{
   display: inline-flex;
}

.inlineControls{
    display: inline;
    float: right;
}


.statistics{
    padding: 1vh;
    width: 85vh;
    border:0.15vh solid black;   
}
.title{
    text-align: center;
}

.dmgDots{
    float: left;
    margin-right:1vh;
}
