@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


.panels-container-secondar{
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2%;
}


.panels-container-primary{
    background-color: #303030;
    height: 100vh;


}
@media (max-width: 950px) {
    .panels-container-secondar {
        padding-left: 0%;
        padding-right: 0%;   
    }
   
}

.inlineStat h1{
    font-family: 'Zen Dots', cursive;

}

.statistics{
    display: inline-flexbox;
}

.inlineStat{
   display: inline-flex;
}
@media (max-width: 480px) {
    .panels-container-secondar {
        padding-left: 0%;
        padding-right: 0%;   
    }
    .inlineStat h1{
        font-size: 15px;
        font-family: 'Zen Dots', cursive;
    }
}

.inlineControls{
    display: inline-flexbox;
    float: right;
    padding-left: 0%;
}

.dmgDots{
    float: left;
    margin-right:1vh;
}

.container{
    justify-content: center;
    display: inline;
}




.trackerContainer{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

.turns{
    display: inline-flex;
    position: relative;
}

.roundsTracker{
    display:inline-flex;
    justify-content: center;
    position: relative;
}
.example-form{
    margin-left: 2vh;
}
.nextTurn{
    margin-top: 8%;
    margin-left:1vh;
    display:inline-block;
}
.mat-form-field{
    width: 50%;
}

.turns h1{
    font-family: 'Zen Dots', cursive;
}

@media (max-width: 590px) {
    .mat-form-field{
        width: 50%;
    }
    
    .turns h1{
        font-size: 18px;
        font-family: 'Zen Dots', cursive;

    }
    .trackerContainer{
        display: inline-flex;
        margin-left: 0%;
        margin-right: 0%;
    }

}


p, h3{
    margin-top: -100;
}


