@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');



 .mat-button{
  font-family: 'Zen Dots', cursive;
  font-size: 18px;
  margin-left: 1%;


}
.mat-list-item{
  font-family: 'Zen Dots', cursive;
  color: #81e1b1;
}
.mat-sidenav{
  background-color: #303030;
}
.example-spacer {
    flex: 1 1 auto;
  }

  mat-sidenav-container{
    height: 100%;
  }

  mat-sidenav{
    width: 200px;
    background-color: #e8eaf6;
  }



.userAvatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 3%;
  margin-left: 3%;

}


@media (max-width: 700px) {
  .mat-button{
    display: none;
  } 
}

@media (max-width: 950px) {
  .toolbar-buttons-secondary{
    display: none;
  } 
}

.mat-toolbar {
  background-color: #7b1fa2;
}
