@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@media (max-width: 950px) {
    .panels-container {
        padding-left: 0%;
        padding-right: 0%;   
    }
   
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  @media (max-width: 600px) {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin-bottom: 5%;
        padding-left: 10%;
      }
   
}


.mat-expansion-panel-header{
  font-family: 'Exo 2', sans-serif;
}